*.exe
*.cache
ProjectManager/ProjectManager/obj/x86/Debug/ProjectManager.csproj.FileListAbsolute.txt
ProjectManager/ProjectManager/bin/Debug/ProjectManager.pdb
*.pdb
ProjectManager/.vs/ProjectManager/v16/.suo
ProjectManager/.vs/ProjectManager/v16/.suo
ProjectManager/ProjectManager/bin/Debug/ProjectManager.exe
ProjectManager/ProjectManager/bin/Debug/ProjectManager.pdb
ProjectManager/ProjectManager/obj/x86/Debug/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
ProjectManager/ProjectManager/obj/x86/Debug/ProjectManager.AddDate.resources
ProjectManager/ProjectManager/obj/x86/Debug/ProjectManager.AddGroup.resources
ProjectManager/ProjectManager/obj/x86/Debug/ProjectManager.AddtoProject.resources
ProjectManager/ProjectManager/obj/x86/Debug/ProjectManager.csproj.CopyComplete
ProjectManager/ProjectManager/obj/x86/Debug/ProjectManager.Exporter.resources
ProjectManager/ProjectManager/obj/x86/Debug/ProjectManager.MultiDirectoryAdd.resources
ProjectManager/ProjectManager/obj/x86/Debug/ProjectManager.ProjectManager.resources
ProjectManager/ProjectManager/obj/x86/Debug/ProjectManager.Properties.Resources.resources
ProjectManager/ProjectManager/obj/x86/Debug/ProjectManager.SaveReminderDialog.resources
ProjectManager/ProjectManager/obj/x86/Debug/ProjectManager.TestInput.resources
ProjectManager/ProjectManager/obj/x86/Debug/ProjectManager.WeightAdd.resources
*.application
ProjectManager/.vs/ProjectManager/v16/.suo
ProjectManager/.vs/ProjectManager/v16/.suo
ProjectManager/.vs/ProjectManager/v16/.suo
ProjectManager/.vs/ProjectManager/v16/.suo
ProjectManager/.vs/ProjectManager/v16/.suo
ProjectManager/.vs/ProjectManager/v16/.suo
Playback2/.vs/SeizurePlayback/v16/.suo
*.cache
