
*.exe
*.cache
*.exe
*.exe
*.cache
ProjectManager/ProjectManager/obj/x86/Debug/ProjectManager.csproj.FileListAbsolute.txt
ProjectManager/ProjectManager/bin/Debug/ProjectManager.pdb
*.cache
*.pdb
ProjectManager/.vs/ProjectManager/v16/.suo
ProjectManager/.vs/ProjectManager/v16/.suo
ProjectManager/.vs/ProjectManager/v16/.suo
*.pdb
*.exe
